{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Günlüğü güncelle</h2>

    <!-- Başarı veya hata mesajları -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="title" class="form-label">Başlık</label>
        <input type="text" class="form-control" id="title" name="title" required value="{{ diary.title }}">
    </div>

    <div class="mb-3">
        <label for="content" class="form-label">İçerik</label>
        <textarea class="form-control" id="content" name="content" rows="5" required>{{ diary.content }}</textarea>
    </div>

    <div class="mb-3">
        <label for="date" class="form-label">Tarih</label>
        <input type="date" class="form-control" id="date" name="date" required value="{{ diary.date }}">
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

</div>
{% endblock %}
